$theme1: rgb(239, 30, 47,1);
$theme2: #ef1e2fb3;
$color-white: rgb(255, 255, 255);
$color-black: #000;
$text-light: rgb(168 168 168);
$btn-bg1:#ef1e3070;
$btn-bg1-hover:#ef1e30be;
$text-hover-color : rgb(218, 33, 48);
$text-color-light:rgb(190, 190, 190);
$card-bg-color : rgba(27, 156, 184, 0.1);

$theme2-text-color:rgb(229, 231, 235);
$link-color:rgb(168, 168, 168);